<div class="d-flex  m-2">
        <a href="{{ path('app_home') }}" 
        class="btn  text-white ">
        <i class="fa-solid fa-house big"></i>
        </a>
        <a href="{{ path('app_token_index') }}"
        class="btn  text-white">
        <i class="fa-solid fa-cart-plus big"></i>
        </a>
        <a href="{{ path('app_home') }}"
        class="btn  text-white">
        <i class="fa-solid fa-sign-out-alt big"></i>
        </a>
        <a href="{{ path('app_home') }}"
        class="btn  text-white">
        <i class="fa-solid fa-user-plus big"></i>
        </a>
</div>
