<div class="d-flex  m-2">
        <a href="{{ path('app_home') }}" 
        class="btn  text-white ">
        <i class="fa-solid fa-house big"></i>
        </a>
        <a href="{{ path('app_token_index') }}"
        class="btn  text-white">
        <i class="fa-solid fa-cart-plus big"></i>
        </a>
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href="{{ path('app_logout') }}"
        onclick="return confirm('souhaitez vous déconnecter?')";
        class="btn  text-white">
        <i class="fa-solid fa-sign-out-alt big"></i>
        </a>
        {% else %}
        <a href="{{ path('app_login') }}"
        class="btn  text-white">
        <i class="fa-solid fa-sign-in-alt big"></i>
        </a>
         {% endif %}
</div>
