{% extends 'base.html.twig' %}

{% block title %}cryto TRaker
{% endblock %}

{% block body %}


	<div class="container d-flex justify-content-center mt-5 ">
		<div class="card Regular shadow" style="min-width: 360px;">
			<div class="d-flex justify-content-between px-3 align-items-center border-bottom">
				<span>
					<h1 class="d-flex logo">Cryto Traker</h1>
				</span>
				<div class="d-flex justify-content-center align-items-center">
					<div class="pr-2 text-right">
						<span class="pen"><i class="fa-solid fa-pen"></i></span>
                        <span class="add"><i class="fa-solid fa-plus"></i></span>
					</div>
					<div>
						
					</div>
				</div>
			</div>
			<div class="scroll">
				<div class="d-flex justify-content-center py-2 header-image">
					<div class="debit pt-3 pb-1">
						<div class="d-flex justify-content-between align-items-center px-3">
							<span class="black"></span>
							<div>
								
								
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center py-2">
					<div class="debit pt-3 pb-1">
						<div class="d-flex justify-content-between align-items-center px-3">
							<span class="black"></span>
							<div>
								{{form(form)}}
								
							</div>
						</div>
					</div>
			</div>
			<div class="navbar align-items-center d-flex justify-content-between border-top">
				<div class="d-flex justify-content-center">
					<span class="home">Home</span>
					<span class="dot1">.</span>
				</div>
				<div>
					<i class="fa fa-calendar calender"></i>
				</div>
				<div class="pr-1">
					<div class="curve2">
						<span class="downplus">+</span>
					</div>
				</div>
				<div>
					<i class="fa fa-cog calender"></i>
				</div>
				<div>
					<i class="fa fa-commenting-o cog"></i>
					<span class="dot2">.</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
