{% extends 'base.html.twig' %}

{% block title %}New Token{% endblock %}

{% block body %}
    <h1>Create new Token</h1>

    {{ include('token/_form.html.twig') }}

    <a href="{{ path('app_token_index') }}">back to list</a>
{% endblock %}
